@model CreateCursoViewModel

    <h2 class="mb-3 text-center">Crear curso</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Curso.Descripcion" class="form-label">Descripción</label>
                <input maxlength="20" minlength="3" asp-for="Curso.Descripcion" class="form-control" />
                <span asp-validation-for="Curso.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso.AnoCalendario" class="form-label">Año Calendario</label>
                <input min="2000" max="2025" asp-for="Curso.AnoCalendario" type="number" class="form-control" />
                <span asp-validation-for="Curso.AnoCalendario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso.Cupo" class="form-label">Cupo</label>
                <input min="0" max="100" asp-for="Curso.Cupo" type="number" class="form-control" />
                <span asp-validation-for="Curso.Cupo" class="text-danger"></span>
            </div>
            <select class="form-group" asp-for="Curso.IDMateria" asp-items="Model.Materias"></select>
            <select class="form-group" asp-for="Curso.IDComision" asp-items="Model.Comisiones"></select>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}