@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Materias</h5>
        <a class="btn btn-primary" asp-controller="Materia" asp-action="Index">Listar materias</a>
    </div>
</div>
