@{
    ViewData["Title"] = "Academia";
}
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                @if (User.Identity?.IsAuthenticated == true)
                {
                <div class="mb-4 lead">¡Bienvenido al sistema @User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name)?.Value!</div>
                }
                else
                {
                    <div class="mb-4 lead">Bienvenido al sistema, por favor inicie sesión.</div>
                }
            </div>
        </div>
    </div>
</div>