@{
    ViewData["Title"] = "Academia";
}
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Materias</h5>
        <a class="btn btn-primary" asp-controller="Materia" asp-action="Index">Listar materias</a>
    </div>
</div>
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Especialidades</h5>
        <a class="btn btn-primary" asp-controller="Especialidad" asp-action="Index">Listar especialidades</a>
    </div>
</div>
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Planes</h5>
        <a class="btn btn-primary" asp-controller="Plan" asp-action="Index">Listar planes</a>
    </div>
</div>
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Comisiones</h5>
        <a class="btn btn-primary" asp-controller="Comision" asp-action="Index">Listar comisiones</a>
    </div>
</div>
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Personas</h5>
        <a class="btn btn-primary" asp-controller="Persona" asp-action="Index">Listar persona</a>
    </div>
</div>
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Cursos</h5>
        <a class="btn btn-primary" asp-controller="Curso" asp-action="Index">Listar curso</a>
    </div>
</div>
