@model Business.Entities.Especialidad?

    <h2 class="mb-3 text-center">Crear especialidad</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="mb-3">
                <label asp-for="Descripcion" class="form-label">Descripción</label>
                <input maxlength="20" minlength="3" asp-for="Descripcion" class="form-control" placeholder="@Model?.Descripcion"/>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}