@model Business.Entities.Especialidad

    <h2 class="mb-3 text-center">Editar especialidad</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <div class="mb-3">
                <label asp-for="Descripcion" class="form-label">Descripcion</label>
                <input asp-for="Descripcion" class="form-control" placeholder="@Model.Descripcion" value="@Model.Descripcion" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}