@model CreateDocenteCursoPartialViewModel
<div class="row">
    <input asp-for="DocenteCurso.IDDocente" type="hidden" />
    <div class="col">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input disabled asp-for="Nombre" class="form-control" placeholder="@Model.Nombre" value="@Model.Nombre" />
    </div>
    <div class="col">
        <label asp-for="Apellido" class="form-label">Apellido</label>
        <input disabled asp-for="Apellido" class="form-control" placeholder="@Model.Apellido" value="@Model.Apellido" />
    </div>
</div>