<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Academia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Administrativo"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle ml-auto" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    ABMS
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Especialidad" asp-action="Index">Especialidades</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Comision" asp-action="Index">Comisiones</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Curso" asp-action="Index">Cursos</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Materia" asp-action="Index">Materias</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Persona" asp-action="Index">Personas</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Plan" asp-action="Index">Planes</a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DocenteCurso" asp-action="Index">Asignar docentes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AlumnoInscripcion" asp-action="Index">Inscribir alumnos</a>
                            </li>
                        }
                        @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Alumno"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="EstadoAcademico" asp-action="Index">Estado Académico</a>
                            </li>
                        }
                        @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Profesor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AsignarNotas" asp-action="Index">Registrar notas</a>
                            </li>
                        }
                        @if (User.Identity?.IsAuthenticated == false)
                        {
                            <li class="ml-md-auto"></li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li class="ml-md-auto"></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle ml-auto" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    @User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Email)?.Value
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item dropdown">
                                        @User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name)?.Value
                                    </div>
                                    <div class="dropdown-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
