@model CreateMateriaViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Materia.Descripcion" class="form-label">Descripción</label>
                <input asp-for="Materia.Descripcion" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Materia.HSSemanales" class="form-label">Horas semanales</label>
                <input asp-for="Materia.HSSemanales" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Materia.HSTotales" class="form-label">Horas totales</label>
                <input asp-for="Materia.HSTotales" type="number" class="form-control" />
            </div>
            <select class="form-group" asp-for="Materia.IDPlan" asp-items="Model.Planes"></select>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Crear materia</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista de materias</a>
</div>