@model Business.Entities.Usuario?

    <h2 class="mb-3 text-center">Crear usuario</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="form-label">Ingrese Legajo</label>
                <input maxlength="20" minlength="3" id="legajo" name="legajo" class="form-control" onfocusout='buscaPersona();' />
                <span id='message'></span>
            </div>

            <div id="partialUsuario" name="partialUsuario">

            </div>

            <div class="form-group">
                <label asp-for="NombreUsuario" class="form-label">Nombre Usuario</label>
                <input disabled maxlength="20" minlength="3" asp-for="NombreUsuario" class="form-control" id="nombreUsuario" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Clave" class="form-label">Clave</label>
                <input disabled maxlength="20" asp-for="Clave" class="form-control" type="password" id="password" onkeyup='check();' />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Confirmar Clave</label>
                <input disabled maxlength="20" class="form-control" type="password" id="confirm_password" name="confirm_password" onkeyup='check();' />
                <span id='message_password'></span>
            </div>

            <div class="form-group">
                <label class="form-label">Usuario Habilitado</label>
                <input disabled type="checkbox" asp-for="Habilitado" id="habilitado"></input>
            </div>

            <div class="form-group">
                <button disabled type="submit" class="btn btn-primary" id="botonCrear">Crear</button>
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
     var buscaPersona = function () {
        
        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("GetPersona", "Usuario")',
                data:
                {
                    legajo: document.getElementById('legajo').value
                },
                success: function (data)
                {
                    $("#partialUsuario").html(data);
                    document.getElementById('nombreUsuario').removeAttribute("disabled");
                    document.getElementById('password').removeAttribute("disabled");
                    document.getElementById('confirm_password').removeAttribute("disabled");
                    document.getElementById('habilitado').removeAttribute("disabled");
                },
                error: function (data)
                {
                    alert('No se encuentra persona con el legajo indicado');
                    $("#partialUsuario").fadeOut(200);
                }
            });
    };
</script>
<script type="text/javascript">
    var check = function () {
        if (document.getElementById('password').value ==
            document.getElementById('confirm_password').value) {
            document.getElementById('message_password').style.color = 'green';
            document.getElementById('message_password').innerHTML = 'matching';
            document.getElementById('botonCrear').disabled = false;
        } else {
            document.getElementById('message_password').style.color = 'red';
            document.getElementById('message_password').innerHTML = 'not matching';
            document.getElementById('botonCrear').disabled = true;
        }
    }
</script>

}